.Hero-heading{
    text-align: left;
    font: normal normal normal 40px/72px Poppins;
    font-weight: 700;
    letter-spacing: 0px;
    color: var(--primary);
    opacity: 1;
    line-height: 100%;
}
.Hero-para{
    text-align: left;
    font: normal normal normal 15px/27px Poppins;
    letter-spacing: 0px;
    color: var(--dark-text);
    opacity: 1;
}
.Hero-cta{
    background: #6C63FF 0% 0% no-repeat padding-box;
    border: 0;
    border-radius: 30px;
    font: normal normal normal 24px/53px Segoe UI;
    letter-spacing: -0.8px;
    color: #FFFFFF;
    opacity: 1;
    padding: 0px 30px;
    margin-top: 15px;

    cursor: pointer;    
    text-align: center;
}

@media(max-width: 600px) {
    .Hero-heading {
        font: normal normal normal 35px/72px Poppins;
        font-weight: 700;
        line-height: 100%;
    }

    .Hero-cta {
        font: normal normal normal 22px/53px Segoe UI;
    }
}