.Homepage-navbar-Header{
    box-sizing: border-box;
    margin: 0 auto;
    background: white;
    padding: 0 20px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Homepage-navbar-Header img{
    height: 65px;
    width: auto;
    padding: 0;
}

.Homepage-navbar-Header img:hover {
    transform: scale(1.05);
    transition: 0.25s;
}

.Homepage-navbar-Menu{
    display: inline-block;
    padding: 0;
}

.Homepage-navbar-About{
    background-color: var(--white);
    text-align: right;
    font: normal normal normal 22px/28px Poppins;
    color: #6C63FF;
    outline: none;
    margin-right: 60px;
    border: 0;
    cursor: pointer;
}
.Homepage-navbar-Login{
    background-color: var(--white);
    text-align: right;
    font: normal normal normal 22px/28px Poppins;
    letter-spacing: 0px;
    color: #6C63FF;
    border: 0;
    cursor: pointer;
    outline: none;
}

.Homepage-navbar-Login:hover {
    color: var(--secondary);
}

.Homepage-navbar-About:hover {
    color: var(--secondary);
}

@media(min-width: 1600px) {
    .Homepage-navbar-Header {
        width: 1600px;
    }
}

@media(max-width: 600px) {
    .Homepage-navbar-Header {
        height: 60px;
        justify-content: center;
    }

    .Homepage-navbar-Menu {
        display: none;
    }
}