.Homepage-bg {
    background: transparent url('../../images/Homepage_assets/Background.png') 0% 0% no-repeat padding-box;
    background-position: center;
    opacity: 1;
    height: 768px;
}

.Homepage-div{
    width: 1280px;
    margin: 80px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.Homepage-hero{
    width: 50%;
    margin: auto 10px;
}

@media(max-width: 768px) {
    .Homepage-div {
        width: 100%;
        display: block;
        margin: 0;
    }

    .Homepage-hero {
        width: 85%;
        margin: 40px auto;
    }

    .Homepage-bed-image {
        width: 100%;
        height: auto;
        padding: 25px;
        box-sizing: border-box;
    }
}