.loading-gif-2{
    margin-top: 25rem;
}

.Userpage-container {
    height: 90vh;
}

.Profile {
    width: 30%;
    height: 90%;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    text-align: center;
}

.Profile::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Profile {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Recommendations {
    width: 70%;
    height: 100%;
    overflow: auto;
    margin-left: 30%;
    margin-top: 90px;
    background: var(--light-blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Recommendations::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Recommendations {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Recommendations-alt {
        display: none;   
}

.Profile-alt {
        width: 100%;
        height: calc(100vh - 140px);
        position: static;
        padding: 0 20px;
        margin-top: 70px;
        box-sizing: border-box;
        overflow: auto;
        text-align: center;
}

.Profile-alt::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Profile-alt {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Userpage-navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 30px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background: white;
}

.Userpage-navbar img {
    height: 100%;
    width: auto;
}

.Profile .profile-pic {
    border-radius: 50%;
    margin: 20px auto;
    max-width: 200px;
    max-height: 200px;
    width: 70%;
    height: auto;
}

.Profile-name {
    font: normal normal normal 30px/46px Poppins;
    color: var(--secondary);
    margin: 0;
}

.Profile-bio {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 30px;
    border-width: 2px;
    border-style: solid;
    border-image: 
        linear-gradient(
        to right,
            rgba(0, 0, 0, 0),
            var(--primary), 
            rgba(0, 0, 0, 0)
        ) 100% 1;
    margin: 20px 0 0 0;
}

.Profile-bio h4 {
    text-align: center;
    font: normal normal normal 18px/20px Poppins;
    color: var(--primary);
    margin: 0 0 10px 0;
}

.Profile-bio p {
    font: normal normal normal 16px/20px Poppins;
    color: var(--regular-text);
    margin: 0;
}

.Profile-text {
    font: normal normal normal 18px/24px Poppins;
    color: var(--dark-text);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image: 
        linear-gradient(
        to right,
            rgba(0, 0, 0, 0),
            var(--primary), 
            rgba(0, 0, 0, 0)
        ) 100% 1;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    /* text-align: left; */
} 

.Profile-text span {
    color: var(--primary);
}

.Profile-btn {
    min-height: 40px;
    text-align: center;
    margin: 10px auto;
    width: 70%;
    box-sizing: border-box;
    border-radius: 20px;
    background: var(--light-blue);
    outline: none;
    border: 1px solid var(--primary);
    font: normal normal normal 18px/24px Poppins;
    color: var(--dark-text);
    cursor: pointer;
    padding: 5px;
}

.Profile-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 0.3s;
}

.Profile-facebook {
    padding-top: 20px;
    height: 45px;
    width: auto;
}

.Profile-facebook:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.Recommendations-Card {
    width: 30%;
    border-radius: 5px;
    margin: 30px 0;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.Recommendations-Card:hover {
    transform: scale(1.08);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 0.25s;
}

.Recommendations-Card img {
    max-width: 180px;
    max-height: 180px;
    width: 60%;
    height: auto;
    border-radius: 50%;
    margin: 50px auto 30px auto;
    border: 8px solid white;
    /* border-spacing: 5px; */
}

.Recommendations-name {
    font: normal normal normal 28px/36px Poppins;
    color: var(--secondary);
    margin: 0 auto 20px auto;
}

.Recommendations-footer {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Recommendations-score {
    margin: 0;
    color: white;
    font: normal normal normal 24px/32px Poppins;
}

.Card-Expand {
    width: 80%;
    height: 80%;
    margin-top: 5%;
    background: white;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.Card-left img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 8px solid white;
}

.Card-left {
    text-align: center;
    background: var(--primary);
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 6px 0 0 6px;
}

.Card-left h3 {
    font: normal normal normal 30px/46px Poppins;
    color: white;
    margin: 30px;
}

.Card-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    overflow: auto;
    padding-right: 30px;
    padding-bottom: 30px;
}

.Card-right::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Card-right {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Card-back {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 20px;
}

.Card-back img {
    cursor: pointer;
}

.Card-back img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.Card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Card-right h1 {
    font: normal normal normal 30px/46px Poppins;
    color: var(--secondary);
    margin: 0;
    padding: 15px 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image: 
        linear-gradient(
        to right,
            var(--primary), 
            rgba(0, 0, 0, 0)
        ) 100% 1;
}

.Card-right p {
    font: normal normal normal 18px/26px Poppins;
    color: var(--dark-text);
    margin: 0;
    padding: 15px 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image: 
        linear-gradient(
        to right,
            var(--primary), 
            rgba(0, 0, 0, 0)
        ) 100% 1;
}

.Card-right span {
    color: var(--primary);
}

.Card-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Card-buttons img {
    height: 40px;
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
}

.Card-buttons img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.Navbar-logout {
    font: normal normal normal 24px/32px Poppins;
    color: var(--primary);
    margin-top: 25px;
    cursor: pointer;
}

.Navbar-logout:hover {
    color: var(--secondary);
}

.mobile-nav {
    display: none;
}

.fail-message {
     font: normal normal normal 20px/28px Poppins;
}


@media(max-width: 768px) {
    .loading-gif-2{
        margin-top: 20rem;
        margin-left:20rem;
    }
    .Userpage-container {
        display: block;
    }

    .Recommendations {
        width: 100%;
        height: calc(100vh - 140px);
        margin: 70px 0 0 0 ;
        display: block;
    }

    .Profile {
        display: none;
    }

    .Navbar-logout {
        display: none;
    }

    .Userpage-navbar {
        height: 60px;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .Recommendations-Card {
        width: 85%;
        margin: 30px auto;
        padding-bottom: 20px;
    }

    .Recommendations-Card:hover {
        transform: none;
    }

    .Recommendations-Card img {
        margin: 40px auto 10px auto;
    }

    .Recommendations-name {
        font: normal normal normal 24px/32px Poppins;
    }

    .Recommendations-footer {
        width: 60px;
        height: 60px;
        margin-bottom: 0;
    }

    .Recommendations-score {
        margin: 0;
        color: white;
        font: normal normal normal 20px/26px Poppins;
    }

    .Card-Expand {
        width: 90%;
        height: auto;
        margin: 30px auto;
        display: block;
    }
    .Card-left img {
        margin: 30px;
    }

    .Card-left {
        height: auto;
        width: 100%;
        display: block;
        border-radius: 6px 6px 0 0;
        padding-bottom: 20px;
    }

    .Card-left h3 {
        font: normal normal normal 24px/32px Poppins;
        color: white;
        margin: 0;
    }

    .Card-right {
        width: 100%;
        display: block;
        overflow: auto;
        padding: 30px;
        box-sizing: border-box;
    }

    .Card-back {
        padding: 0 0 10px 0;
    }

    .Card-body {
        display: block;
    }

    .Card-right h1 {
        font: normal normal normal 26px/40px Poppins;
        padding: 0 0 10px 0;
    }

    .Card-right p {
        font: normal normal normal 16px/22px Poppins;
        padding: 10px 0;
    }

    .Card-buttons {
        display: block;
    }

    .Card-buttons img {
        margin-top: 10px;
        margin-left: 0;
    }

    .Card-buttons img:hover {
        transform: none;
    }

    .mobile-nav {
        display: block;
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: white;
    }

    .Profile-alt .profile-pic {
        border-radius: 50%;
        margin: 20px auto;
        max-width: 200px;
        max-height: 200px;
        width: 70%;
        height: auto;
    }

    .Profile-name {
        font: normal normal normal 30px/44px Poppins;
    }

    .Profile-bio {
        padding: 10px 30px;
        margin: 10px 0 0 0;
    }

    .Profile-text {
        padding: 10px;
    } 

    .Profile-btn {
        width: 80%;
        padding: 5px 10px;
    }

}
